# /etc/systemd/system/rclone.service
[Unit]
Description=Onedrive (rclone) # Opici
AssertPathIsDirectory=/mnt/rclone/Borg
After=Multimidia.service

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
# Local do arquivo rclone.conf
        --config=/path/user/rclone.conf \
# Isso é para permitir que usuários que não sejam o usuário executando o rclone acessem a montagem
        --allow-other \
# O disco local usado para cache
        --cache-dir=/tmp/rclone/vfs \
# Não atualizar o mod-time de destino se os ficheiros forem idênticos
        --no-modtime \
# Intervalo entre estatísticas de impressão, por exemplo, 500ms, 60s, 5m (0 para desativar) (predefinição 1m0s)
        --stats=0 \
# Isso define um controle de largura de banda por arquivo e eu limito isso a um pouco maior do que minha maior taxa de bits que eu gostaria de reproduzir
        --bwlimit=30M \
# Tempo para guardar em cache os registos de diretório
        --dir-cache-time=120m \
# Isso é usado para armazenar arquivos em cache no disco local para streaming
        --vfs-cache-mode full \
# Isso limita o tamanho do cache ao valor abaixo
        --vfs-cache-max-size 20G \
# Defini o agente do utilizador para uma cadeia de caracteres especifica
	--user-agent "ISV|rclone.org|rclone/v1.62.2" \
# Não criar versões Onedrive Business
        --onedrive-no-versions \
# Defina o tpslimit
        --tpslimit 4 \
        --cache-info-age=60m Borg:/ /mnt/rclone/Borg
ExecStop=/bin/fusermount -u /mnt/rclone/Borg
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
